@import "./palette-ef-autumn.css";
@import "./palette-ef-arcadia.css";
@import "./palette-ef-day.css";

@media (prefers-color-scheme: light) {
  :root[data-theme="auto"],
  :root:not([data-theme]) {
    --bg-main: #d6e4d3;
    --bg-dim: #ced7c8;
    --bg-alt: #c5c9c8;
    --fg-main: #40314e;
    --fg-dim: #646170;
    --fg-alt: #3f5f5f;
    --bg-active: #b0b7aa;
    --bg-inactive: #bfc2b0;
    --border: #959a9f;
    --cursor: #495080;

    --red: #882000;
    --red-warmer: #9a1500;
    --red-cooler: #800e38;
    --red-faint: #702f1f;

    --green: #206020;
    --green-warmer: #3f6d00;
    --green-cooler: #006e50;
    --green-faint: #125724;

    --yellow: #6b4500;
    --yellow-warmer: #743f00;
    --yellow-cooler: #775228;
    --yellow-faint: #6a5937;

    --blue: #113384;
    --blue-warmer: #3a40a0;
    --blue-cooler: #0020b9;
    --blue-faint: #302080;

    --magenta: #922e7f;
    --magenta-warmer: #960f4f;
    --magenta-cooler: #503094;
    --magenta-faint: #72366f;

    --cyan: #125a7f;
    --cyan-warmer: #2a5090;
    --cyan-cooler: #005070;
    --cyan-faint: #304650;

    --bg-red-subtle: #efcabf;
    --bg-green-subtle: #c3e6a0;
    --bg-yellow-subtle: #efe07f;
    --bg-blue-subtle: #c7dbe8;
    --bg-magenta-subtle: #e3d0e7;
    --bg-cyan-subtle: #bfe0d0;
  }
}
