:root {
  /* ef-autumn warm chromatic accents */
  --red: #ef656a;
  --red-warmer: #f06a3f;
  --red-cooler: #ff7a7f;
  --green: #2fa526;
  --green-warmer: #64aa0f;
  --green-cooler: #00b066;
  --yellow: #c48702;
  --yellow-warmer: #d0730f;
  --yellow-cooler: #df8f6f;
  --blue: #379cf6;
  --blue-warmer: #6a88ff;
  --magenta: #d570af;
  --cyan: #4fb0cf;
  --cyan-cooler: #3dbbb0;
}
